@model IEnumerable<cod.Models.MarketingPage>
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var listPlace in Model)
    {
        <li>@Html.ActionLink((string)listPlace.Head, "Details", new { id = listPlace.Id })</li>

    }
</ul>
