@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Admin Portal</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    <p>@Html.ActionLink("Register", "Register")</p>
}
else
{
    <p>@Html.ActionLink("Log in", "Login")</p>
    <p>@Html.ActionLink("Register", "Register")</p>
}

